* { /*permet de mettre sur toute la largeur de la fenetre sans marge blanche autour et de mettre tout le texte en News Cycle*/
	margin: 0px;
	font-family: 'News Cycle', sans-serif;
}

div { /*pas d'espace horizontal entre les block*/
	display: inline-block;
}

.block2 { /* gere la taille, la largeur et la couleur de fond du deuxieme block*/
	background-color: rgba(238,238,238,0.8); /* regle la couleur et l'opacite du fond*/
	width: 100%;
	height: 610px;
	margin: 0px;
}

.main2 { /*permet d'aligner les element et de pas les faire depasser de 1000px*/
	width: 1000px;
	height: 610px;
	text-align: center;
	margin-left: 12%;
}

.main2 h2 {
	color: #2B3F48;
	font-size: 55px;
	line-height: 170px;
}

.Sous_titre2 { /*pour le sous-titre*/
	font-size: 22px;
	color: #7E6F6F;
	margin-top: 0px;
}

.Texte2 { /* gere le texte en dessous des sous titres*/
	color: #7E6F6F;
	font-size: 17px;
	line-height: 30px;
	margin-top: 70px;
}

.button2 {
    background-color: #27AE61;
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 4px;    
    border-radius: 10px;
    font-size: 17px;
    margin: 60px 0 60px 0;
}

.button2 a { /*pour le lien du bouton*/
	text-decoration: none;
	color: white;
}

.block3 { /* gere la taille, la largeur et la couleur de fond du troisieme block*/
	background-color: #27AE61;
	width: 100%;
	height: 610px;
	margin: 0px;
}

.main3 { /*permet d'aligner les element et de pas les faire depasser de 1000px*/
	width: 1000px;
	height: 610px;
	text-align: center;
	margin-left: 12%;
}

.main3 h2 {
	color: white;
	font-size: 55px;
	line-height: 170px;
}

.Sous_titre3{ /*pour le sous-titre*/
	font-size: 22px;
	color: #cfefeb;
	margin-top: 0px;
}

.Texte3 { /* gere le texte en dessous des sous titres*/
	color: #cfefeb;
	font-size: 17px;
	line-height: 30px;
	margin-top: 70px;
}

.button3 {
	background-color: white;
	border: none;
 	color: #27AE61;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 4px;    
    border-radius: 10px;
    font-size: 17px;
    margin: 60px 0 60px 0;
}

.Texte3 a {
	color: white;
}

.button3 a {
	text-decoration: none;
	color: #27AE61;
}

footer {
	background-color: rgba(238,238,238,0.8);
	width: 100%;
	height: 200px;
	display: inline-block;
}

footer pre {
	width: 1000px;
	text-align: center;
	margin-left: 12%;
	color: #A7A7A7;
	margin-top: 90px;
	font-size: 14px;
}

footer img { /* logo du copyright*/
	width: 8px;
	height: 8px;
}

strong { /* mot important ds le footer*/
	color: #2B3F48;
	
